header{
    background-color: #2c3e50;
    padding: 10px 0 10px 0;
}

nav div a{
    padding-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.row .col-12 img{
    width: 10%;
    border-radius: 50%;
}

.item-1, .item-3{
    background-color: #1abc9c;
 }    


.line{
    display: inline-block;
    width: 20%;
    height: 10%;
    border-radius: 3px;
} 

[class*="decoration-"]{
    display: inline-block;
    height: 30px;
    width: 500px;
}


.skill{
    padding-bottom: 40px;
}

.color-grey{
    color: #2c3e50;
}

.bckg-grey{
    background-color: #2c3e50;
}

.up-footer{
    background-color: #3a546d;
}

.down-footer{
    background-color: #2c3e50;
}