header{
    background-color: #2c3e50;
    padding: 10px 0 10px 0;
}

nav div a{
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.section-start img{
    width: 10%;
    border-radius: 50%;
}

.section-start, .section-about{
    background-color: #1abc9c;
 }    


.line{
    display: inline-block;
    width: 20%;
    height: 10%;
    border-radius: 3px;
} 

.decoration{
    display: inline-block;
    height: 30px;
    width: 500px;
}

[class*="section-"], .up-footer{
    padding: 40px 0 35px 0;
}



.skill{
    padding-bottom: 40px;
}

.color-grey{
    color: #2c3e50;
}

.bckg-grey{
    background-color: #2c3e50;
}

.up-footer{
    background-color: #3a546d;
}

.down-footer{
    padding: 20px 0 20px 0;
}
